@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

:root{
    --body-color: #d5e1ef;
    --container-background: #ffffff;
}

body{
    background-color: var(--body-color);
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.contenedor{
    background-color: var(--container-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
}

.qr{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.title{
    font-weight: 700;
    width: 280px;
    font-size: 25px;
    text-align:center;
    margin-bottom: 20px;
}

.info{
    width: 280px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}